a-assets
    a-mixin#halfSphere(geometry="primitive: sphere; radius: 15; thetaLength: 90;")
    a-mixin#sphere(geometry="primitive: sphere; radius: 15;")
    a-mixin#black(material="shader: flat; color: #000;")
    a-mixin#grey(material="color: #aaa; roughness: 1;")
