a-scene#scene(shadows="true" _stats="true")
    include ./template.assets.pug

    a-entity#global
        a-sky(color="#000")
        a-light.sky_light(type="ambient" color="#fff" intensity="0.2")
        a-light.sky_light(type="point" position="0 4 0" color="#fff" intensity="0.2")
        //- a-entity.sky_weather.particle-snow(position="0 0 0" gpu-particle-system="preset: snow; maxParticles: 500; spawnRate: 50; texture: #tex-particle-1;")

    a-entity#world
        a-box(position="-10 0.5 -20")
        a-terrain(width="20" height="20")
        a-entity#waterfall(position="0 0 -10")
            a-entity(position="0 5 0" geometry="primitive: box; width: 10; height: 0.1;" waterfall-controller="")


    a-entity#playerBox
        a-camera#player(wasd-controls="acceleration: 65;" fov="75")
            //- a-sound#bg_sound(src="#audio-bg-1" volume="0" autoplay="false")
            //- a-entity#sound
            a-entity(position="0 0 -2")
                a-cursor(material="color: #eee; opacity: 0.8" fuse="true" fuse-timeout="1500" raycaster="objects: .interactive" cursor-events cursor-animation)

            //- fov is 75, gui z is -0.7, when 1 is 100% width and about 95% height
            a-entity#gui(position="0 0 -0.07" scale="0.1 0.1 0.1")
                //- a-image#tip(position="0 0.3 0" width="0.5" src="" npot="true" image-init="" opacity="0" visible="false")
